h1{text-align: center;}
h2{text-align: left;}
h3{text-align: left;}
main{background-color: #FAF8F4;}


.employee-form{
            position: fixed;
            top: 0px; 
            right: 5px;
            }

.task-div.employee{
    /* display: grid; */
    /* grid-template-columns: 1fr; */
    /* grid-template-rows: auto; */
    text-align:center;
}

.all-employees{
    position: absolute;
    top :100px ;
    left: 500px;
}

.taskcounter{
    position:absolute;
    top: 100px;
    right:400px;
}
